@font-face {
    font-family: 'Operation Napalm';  /* Назва шрыфта, якую вы будзеце выкарыстоўваць */
    src: url('./assets/OperationNapalm-nRBWO.ttf') format('truetype');  /* Шлях да файла шрыфта */
}



body{
    background-color: #939B62;

}

#text1{
    
    font-size: x-large;
    margin: 5%;

}


#id{
    font-family: 'Operation Napalm', sans-serif;
    font-size: xxx-large;
    margin: 5%;
    margin-bottom: 1%;
}

#logoutBut{
    border: none;
    background-color: transparent;
}

#actualscore{
    font-size: 8ch;
    margin: 20%;
}
#rang{
    font-family: 'Operation Napalm', sans-serif;
    font-size: x-large;
}
#page{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
#number{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Operation Napalm', sans-serif;
}
#qrcode {
    width:300px;
    height:300px;
    margin-top:15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

#actualscore{
    margin-bottom: 0;
}
#topbar{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
#menuBut{
    background-color: transparent;
    border: none;

}

/* Стыль для контейнера сканера */
#qr-code-scanner {
    position: relative;
    width: 100%;
    max-width: 500px;  /* Абмежаванне максімальнай шырыні */
    height: 300px;     /* Высота для відэа */
    margin: 20px auto; /* Выроўніць па цэнтры */
    background-color: black; /* Фон чорны для камеры */
}

/* Стыль для камеры (відэа) */
#qr-code-scanner video {
    width: 100%;    /* Шырыня відэа павінна быць 100% ад кантэйнера */
    height: 100%;   /* Вышыня відэа адпавядае кантэйнеру */
    object-fit: cover; /* Падгонка відэа для запаўнення кантэйнера без перакручвання */
}

/* Стыль для зоны для сканавання (квадрат) */
#qr-code-scanner::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 250px;
    background: rgba(0, 255, 0, 0.5); /* Зялёны колер для зоны сканавання */
    border: 2px solid #00ff00;  /* Граніца зялёнага колеру */
    transform: translate(-50%, -50%);  /* Выроўніць з цэнтрам */
    z-index: 10; /* Упэўніцеся, што квадрат будзе над відэа */
}

/* Дадайце стылі для кнопкі, калі сканер актыўны */
#startScanButton {
    font-family: 'Operation Napalm', sans-serif;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #523906;
    color: white;
    border: none;
    cursor: pointer;
    font-size: xx-large;
}

#closeScanButton{
    font-family: 'Operation Napalm', sans-serif;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #523906;
    color: white;
    border: none;
    cursor: pointer;
    font-size: xx-large;
}

#startScanButton:hover {
    background-color: #0056b3;
}

#closeScanButton {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #dc3545; /* Чырвоны фон */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#closeScanButton:hover {
    background-color: #c82333;
}

